<section>
  <div class="container">
    <h2>{{title}}</h2>
    <p>Welcome to {{title}}</p>
    <hr>
  </div>
</section>
<section>
  <div class="container">
    <ul class="button-list">
      <li><button>Default Button</button></li>
      <li><button class="secondary">Secondary Button</button></li>
    </ul>
  </div>
</section>
