<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<!-- ----------------------------------------------------------------------- -->
<!-- Persistant Nav-Bar -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/grocerylist">Grocery List</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="#">link</a></li>
  </ul>
</nav>

<!-- ----------------------------------------------------------------------- -->
<!-- Persistant Site Header -->

<header id="site-header" class="site-header">
  <h1>Site Header</h1>
  <p>Site slogan Lorem ipsum dolor sit amet!</p>
</header>

<!-- ======================================================================= -->
<!-- Main Page Content -->

<main>
  {{{body}}}
</main>


<!-- ----------------------------------------------------------------------- -->
<!-- Persistant Page Footer -->
<footer>
  <p>Copyright &copy; 2018. All Rights Reserved.</p>
</footer>


</body>
</html>